<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sit amet nisl scelerisque, 
                accumsan tortor a, condimentum felis. Sed lacinia, nulla vitae aliquam pretium, ex lorem 
                ornare quam, at rutrum massa quam a purus. Nam porta lacus vitae velit dapibus, sit amet 
                tempor tellus dignissim. Sed imperdiet quam nisi, gravida ullamcorper odio aliquam vel. 
                Aenean interdum ut sem in aliquet. Maecenas sem leo, malesuada quis nisl sit amet, cursus 
                mattis mi.
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i>startecommerce&#64;email.com</li>
                <li><i class="fa-solid fa-phone"></i>+55 (11) 2143-2143</li>
                <li><i class="fa-brands fa-whatsapp"></i>+55 (11) 9 2121-1212</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>